In [137]:
import pandas as pd

In [145]:
df_polls = pd.read_csv('Polls.csv')
df_students = pd.read_csv('Students.csv')

In [139]:
#Convert vote_1,vote_2 dtype to string
df_polls['vote_1,vote_2'] = df_polls['vote_1,vote_2'].astype('str')

In [140]:
#Split vote_1,vote_2 column into two columns
df_polls[['vote_1', 'vote_2']] = df_polls['vote_1,vote_2'].str.split(',', 1, expand=True)

In [141]:
#delete vote_1,vote_2 column
del df_polls['vote_1,vote_2']

In [142]:
#rename column name 'student_id' to 'id'
df_polls = df_polls.rename(columns={"student_id": "id"})

In [143]:
#merge two dataframe depends on their common id
df = pd.merge(left=df_students, right=df_polls, left_on='id', right_on='id')

In [144]:
#sum two columns(vote_1 and vote_2)
df['total_votes'] = df['vote_1'].astype(int) + df['vote_2'].astype(int)
df.head()

   id     student_name vote_1 vote_2  total_votes
0   1      Ashley Reid      1      6            7
1   2  Scott Donaldson      2      2            4
2   3        Lisa Tate      3     18           21
3   4    Austin Nelson      4      2            6
4   5     Kurt Gregory      5      7           12